@font-face {
    font-family: "Signlode";
    src: url(../fuente/Signlode.ttf);
}

*{
margin: 0;
padding: 0;
}

a {color: rgb(255, 255, 255);}

body {background-color: rgb(25, 25, 25);}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: black;
    width: 100%;
}

.logo {width: 50px;}


.sidebar a {
    text-decoration: none;
    padding-right: 45px;
    padding-left: 45px;
    font-size: 20px;
    font-family: sans-serif;
    opacity: 0.7;
    color: white;
}

.sidebar a:hover,.sidebar a:active {
    background: #4e4e4e;
    cursor: pointer;

}

button {
    background: rgb(0, 0, 0);
    border: none;
    display: block;
    cursor: pointer;
    
}

button img {
    width: 30px;
   
}

.logo {width: 50px;}

.pie_de_pagina {
    display: flex;
    font-size: 15px;
    font-family: "Signlode";
    justify-content: right;
    color: #9c9c9c;
}

h1{
   color: rgb(255, 255, 255);
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px;
    justify-content: center;
}




.form-control{
    display: flex;
    background-color: rgb(158, 158, 158);
    align-items: center;
    justify-content: center;
}

.desarrollo-gf{
margin-top: 150px;
grid-area: desarrollo-gf;
background-color: beige;
color: rgb(0, 0, 0);
padding: 10px;
}

.desarrollo-gf h4{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #000000;
}

.desarrollo-gf p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.foto-noticia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.descripcion-inmobiliaria h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.descripcion-inmobiliaria h2{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}


.main-inicio-grid{
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows:15% 1fr
    1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "descripcion-inmobiliaria descripcion-inmobiliaria desarrollo-gf"
    "videos-inicio1 videos-inicio2 desarrollo-gf"
    "videos-inicio3 videos-inicio4 desarrollo-gf"
    "videos-inicio5 videos-inicio6 desarrollo-gf";
}

@media (max-width: 480px) {
    .main-inicio-grid{
        display: grid;
        justify-content: center;
        grid-template-columns: 99%;
        grid-template-rows: 50px 1fr
        0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        ;
        grid-template-areas: 
        "descripcion-inmobiliaria"
        "desarrollo-gf"
        "videos-inicio1"
        "videos-inicio2"
        "videos-inicio3"
        "videos-inicio4"
        "videos-inicio5"
        "videos-inicio6";
    }
    
    .descripcion-inmobiliaria h1{
        margin-top: 50px;
        margin-bottom: 5px;
    }
    .pie_de_pagina{
        margin-top: 40px;
        color: #9c9c9c;
    }
}





.descripcion-inmobiliaria{
    grid-area: descripcion-inmobiliaria;
}

.videos-inicio1{
    margin-top: 70px;   
    grid-area: videos-inicio1;
    display: flex;
    justify-content: space-around;
}

.videos-inicio2{
    margin-top: 70px;   
    grid-area: videos-inicio2;
    display: flex;
    justify-content: space-around;
}

.videos-inicio3{
    margin-top: 70px;   
    grid-area: videos-inicio3;
    display: flex;
    justify-content: space-around;
}

.videos-inicio4{
    margin-top: 70px;   
    grid-area: videos-inicio4;
    display: flex;
    justify-content: space-around;
}

.videos-inicio5{
    margin-top: 70px;   
    grid-area: videos-inicio5;
    display: flex;
    justify-content: space-around;
}

.videos-inicio6{
    margin-top: 70px;   
    grid-area: videos-inicio6;
    display: flex;
    justify-content: space-around;
}

.active{
    border-bottom: 5px solid white;
}



<!--postboostrap-->

.dropdown-menu{
    background-color: gray;
}

.dropdown-item:hover{
    background-color: gainsboro;
}




@media (max-width: 768px){

}

@media (max-width: 480px) {
    
}